@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  * {
    @apply transition-all;
  }

  html {
    font-family: 'League Spartan', sans-serif;
    font-size: 50%;
  }

  body {
    @apply bg-lightBg dark:bg-secondary-300 text-secondary-200;
  }

  .bg-variant {
    @apply bg-white dark:bg-secondary-50;
  }

  .bg-variant-one {
    @apply bg-primary-600 dark:bg-secondary-100;
  }

  .bg-variant-three {
    @apply bg-white dark:bg-secondary-100;
  }

  .bg-variant-two {
    @apply bg-secondary-400 dark:bg-secondary-200;
  }

  .text-variant-one {
    @apply text-primary-300 dark:text-primary-200;
  }

  .text-variant-two {
    @apply text-primary-500 dark:text-white;
  }

  .text-variant-three {
    @apply text-primary-400 dark:text-primary-200;
  }

  .custom-container {
    @apply max-w-[73rem] w-[90%] mx-auto pt-[4.3rem];
  }

  .h1 {
    font-size: 3.5rem;
    line-height: 36px;
    letter-spacing: -1px;
    font-weight: 700;
  }

  .h2 {
    font-size: 2.3rem;
    line-height: 22px;
    letter-spacing: -0.63px;
    font-weight: 700;
  }

  .h3 {
    font-size: 1.9rem;
    line-height: 24px;
    letter-spacing: -0.8px;
    font-weight: 700;
  }

  .h4 {
    font-size: 1.5rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 700;
  }

  .h5 {
    font-size: 2.7rem;
    line-height: 32px;
    letter-spacing: -0.5px;
    font-weight: 700;
  }

  .bodyOne {
    font-size: 1.5rem;
    line-height: 15px;
    letter-spacing: -0.25px;
    font-weight: 500;
  }

  .bodyTwo {
    font-size: 1.4rem;
    line-height: 18px;
    letter-spacing: -0.23px;
    font-weight: 500;
  }

  .bodyThree {
    font-size: 1.8rem;
    line-height: 20px;
    letter-spacing: -0.31px;
    font-weight: 700;
  }

  div.check {
    @apply bg-primary-50;
  }

  .scrollbar::-webkit-scrollbar {
    @apply w-[5px];
  }

  .scrollbar::-webkit-scrollbar-track {
    /* @apply mt-[1rem]; */
  }

  .scrollbar::-webkit-scrollbar-thumb {
    @apply bg-primary-200 dark:bg-secondary-50   max-h-[10px] rounded-[100vh];
  }

  /* .scrollbar::-webkit-scrollbar-thumb:hover {
  } */

  .overlay {
    background: linear-gradient(
      180deg,
      rgba(0, 0, 0, 0.0001) 0%,
      rgba(0, 0, 0, 0.1) 100%
    );
  }

  .green {
    @apply text-accent-green;
  }

  .orange {
    @apply text-accent-orange;
  }

  .gray {
    @apply text-accent-gray dark:text-primary-200;
  }

  .bgGreen {
    @apply bg-accent-bgGreen;
  }

  .bgOrange {
    @apply bg-accent-bgOrange;
  }

  .bgGray {
    @apply bg-accent-bgGray dark:bg-accent-darkBgGray;
  }

  .greenDot {
    @apply bg-accent-green;
  }

  .orangeDot {
    @apply bg-accent-orange;
  }

  .grayDot {
    @apply bg-accent-gray dark:bg-primary-200;
  }

  .editBtn {
    @apply text-primary-400 bg-primary-600 dark:bg-secondary-100 hover:bg-primary-200 dark:hover:bg-white;
  }

  .deleteBtn {
    @apply text-white bg-tertiary-50 hover:bg-primary-700;
  }

  .markBtn {
    @apply text-white bg-primary-50 hover:bg-tertiary-100;
  }

  .saveBtn {
    @apply text-primary-400  bg-primary-600 dark:text-primary-200 dark:bg-secondary-100;
  }

  .saveAsDraftBtn {
    @apply text-primary-300 bg-secondary-400 hover:bg-secondary-200 dark:hover:bg-secondary-50;
  }

  .saveAndSendBtn {
    @apply text-white bg-primary-50 hover:bg-primary-100;
  }

  input:-webkit-autofill,
  input:-webkit-autofill:hover,
  input:-webkit-autofill:focus,
  input:-webkit-autofill:active {
    @apply shadow-[inset_0_0_0_30px] shadow-white dark:shadow-secondary-100 dark:text-fill-white transition-all duration-[5000s]
    /* -webkit-box-shadow: 0 0 0 30px red inset !important;
    box-shadow: 0 0 0 1000px red inset;
    -webkit-text-fill-color: white; */;
  }

  /*  */
  .react-calender__navigation {
    font-size: 4rem !important;
  }

  @media (min-width: 480px) {
    html {
      font-size: 56.25%;
    }
  }

  @media (min-width: 768px) {
    html {
      font-size: 62.5%;
    }
  }
}
